@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 로딩 스피너 */
.loader {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #E9EAEE;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
@keyframes rotation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} 
@media screen and (max-width: 768px) {
    .loader {
        width: 32px;
        height: 32px
    }
}